{! admin/util/codemirror?field_id=query&mode=sql !}

<p><a href="/dbman/index">&laquo; {"Back"}</a></p>

<form method="post" id="shell">
<p><textarea name="query" id="query" cols="70" rows="8">{{ query }}</textarea><br />
<input type="hidden" name="_token_" id="csrf-token" value="{{csrf_token}}" />
<input type="submit" id="submit" value="{"Execute"}" /></p>
</form>

<div id="results"></div>

<style>
.CodeMirror {
	width: 600px;
	height: 150px;
}
#submit {
	outline: none;
}
</style>

<script>
$(function () {
	$('#shell').submit (function (e) {
		e.preventDefault ();
		dbman.query ($('#query').val (), '{{csrf_token}}');
	});
});
</script>
